@charset "UTF-08";

*{
    margin: 0px;
    padding: 0px;
}
main{
    max-width: 500px;
    margin: auto;
}

p{
    min-height: 200px;
    background-color: rgb(255, 255, 255);
}

div.bg1{
    min-height: 250px;
    background-image: url('imagens/arvore.jpg');
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: ;
    
}

div.bg2{
    min-height: 250px;
    background-image: url('imagens/peace.jpg');
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: ;
    
}