@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgreen;
}
main{
    max-width: 500px;
    margin: auto;
}

div{
    height: 400px;
}

p{
    background-color: white;
    height: 150px;
    
}

div.container01{
    position: relative;
}
div.box1{
    background-image: url('imagens/arvore.jpg');
    background-position: top center;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
}

div.container02{
    position: relative;;
}

div.box2{
    background-image: url('imagens/stonehenge.jpg');
    background-position: center center;
    background-attachment: fixed;
    position: absolute;

}

div.box3{
    background-image: url('imagens/peace.jpg');
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}