
@charset "UTF-8";

body {
    background-color: darkviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h1 {
    background-color: antiquewhite;
    color: brown;
}

h2 {
    color: cyan;
}

p {
    text-align: justify;
}